body {
    padding-top: 3.6em;
    background-color: #F5F8FA;
}

#account-tabs {
    position: relative;
    z-index: 99;
}

#account-tabs > li {
    border-bottom: 0;
}

#account-tabs a {
    border-bottom: 0;
}

#account-tabs li.active {
    border-bottom: 0;
}

#main .form-horizontal .form-group:last-child {
    margin-bottom: 0;
}

#main .tab-content {
    padding: 2em;
    margin-top: -0.1rem;
}

#messages-modal .btn-message {
    position: absolute;
    right: 3em;
    top: 0.7em;
}

#messages-modal .modal-body {
    max-height: 32rem;
    overflow: auto;
}

#messages-modal li {
    padding: 0.75rem;
    border-bottom: 0.1rem solid #E6E6E6;
}

#messages-modal li:hover {
    background-color: #E6E6E6;
}

#messages-modal li a:hover {
    text-decoration: none;
}

#messages-modal li img {
    max-width: 15%;
}

#messages-modal .msg-content {
    display: inline-block;
    color: #000;
}

#messages-modal .msg-content h5 {
    font-size: 1em;
    font-weight: bold;
}

#nav-menu {
    margin-right: 1rem;
}

#nav-options {
    margin: 0.5em;
}

#nav-options button.thumbnail {
    margin: 0;
    padding: 0;
}

#nav-options img {
    max-height: 2.3em;
    border-radius: 0.3em;
}

#profile-photo {
    margin-top: 2rem;
}

#profile-photo ul {
    margin: 0;
}

#profile-photo li {
    width: 48%;
    padding: 0;
}

#profile-settings .nav-stacked li {
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
}

#profile-settings .nav-stacked a {
    border-radius: 0;
}

#profile-settings .nav-stacked li:first-child a {
    border-radius: 0.4rem 0.4rem 0 0;
}

#profile-settings .nav-stacked li:last-child {
    border-bottom: 0;
}

#profile-settings .nav-stacked li:last-child a {
    border-radius: 0 0 0.4rem 0.4rem;
}

#right-content .list-group .label {
    float: right;
    padding: 0.3rem 0.6rem;
}

#right-content .list-group .badge .glyphicon-star {
    background-color: #f0ad4e;
    padding: 0.4rem;
    padding-left: 0.5rem;
}

#tweet-modal .char-count {
    padding: 0.7rem 0;
}

div#app-info {
    margin-top: 2rem;
}

div#who-follow li {
    margin-bottom: 2em;
}

div#who-follow li .info .glyphicon-ok {
    color: #5cb85c;
}

div#who-follow li:last-child {
    margin-bottom: 0;
}

div#who-follow li img {
    width: 26%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}

div#who-follow li .info {
    width: 68%;
    display: inline-block;
}

div#who-follow li .info strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#who-follow li .info .glyphicon {
    color: #2F92CA;
}

form#new-message {
    border-radius: 0.4rem 0.4rem 0 0;
    padding: 1em;
    border-bottom: 0.1em solid #CEE4F5;
    background-color: #EBF4FB;
}

form#new-message .input-group-addon {
    background-color: #FFF;
}

nav .btn-group {
    margin: 0.8rem 2rem 0 0;
}

nav form#search {
    float: right;
    padding: 0.5em;
}

nav form#search .glyphicon-search {
    z-index: 99;
    position: absolute;
    right: 0.7em;
    top: 50%;
    margin-top: -0.44em;
}

nav form#search .input-group .form-control {
    border-radius: 0.25em;
}

ul#feed {
    margin: 0;
}

ul#feed li {
    padding: 1em 1em;
}

ul#feed .feed-avatar {
    width: 13%;
    display: inline-block;
    vertical-align: top;
}

ul#feed .feed-post {
    width: 80%;
    display: inline-block;
    margin-left: 2%;
}

ul#feed.feed-post h5 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

ul#feed .feed-post h5 > small {
    font-size: 1.2rem;
}

ul#feed .action-list {
    margin-left: 13%;
    padding-left: 1em;
}

ul#feed .action-list a {
    width: 15%;
    display: inline-block;
}

ul#feed .action-list a:hover {
    text-decoration: none;
}

ul#feed .action-list .retweet-count {
    padding-left: 0.2em;
    font-weight: bold;
}

ul#feed li {
    padding: 1em 1em;
    border-bottom: 0.1rem solid #e5e5e5;
}

ul#feed li:last-child {
    border-bottom: none;
}

.alert {
    border-left-width: 0.5rem;
}

.alert h3 {
    margin: 0 0 1rem;
    font-size: 1.4em;
}

.card {
    position: relative;
    border: 0.1rem solid #e5e5e5;
    border-radius: 0.4rem;
    background-color: #FFF;
}

.card .card-header {
    border-radius: 0.4rem 0.4rem 0 0;
    padding: 0.75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 0.1em solid #e5e5e5;
    color: #4e5665;
    font-weight: bold;
}

.card .card-footer {
    border-radius: 0 0 0.4rem 0.4rem;
    padding: 0.75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: 0.1em solid #e5e5e5;
    color: #4e5665;
}

.card-img-top {
    border-radius: 0.4rem 0.4rem 0 0;
}

.card-block img.card-img {
    top: 50%;
    margin-top: -36px;
    width: 72px;
    border: 3px solid #FFF;
    border-radius: 0.4rem;
    float: left;
    position: relative;
    z-index: 99;
}

.card-block .card-title {
    float: left;
    margin: 0;
    margin-left: 0.5em;
}

.card-block .card-title small {
    display: block;
}

.card-block .card-text {
    clear: both;
    padding-top: 0.25em;
    margin-bottom: 1.5em;
}

.card-block ul a:hover {
    text-decoration: none;
}

.card-block ul .profile-stats {
    color: #777;
    display: block;
    text-transform: uppercase;
    font-size: 0.63em;
}

.card-block ul .profile-value {
    font-size: 1.2em;
    font-weight: bold;
    color: #2F92CA;
}

.list-group-item {
    border-color: #e5e5e5;
}

.navbar-header .navbar-toggle, .navbar-default .navbar-toggle:focus {
    background-color: #57A5D2;
}

.navbar-brand img {
    height: 100%;
}

.navbar-default {
    background-color: #2F92CA;
}

.navbar-default .navbar-toggle:hover {
    background-color: #3986B3;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.navbar-default .navbar-nav > .active > a {
    background-color: transparent;
    color: #FFF;
    padding-bottom: 10px;
    border-bottom: 5px solid #FFF;
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #F3F3F3;
    padding-bottom: 0.62em;
    border-bottom: 0.45em solid #F3F3F3;
}

.navbar-nav .badge {
    color: #2F92CA;
    background-color: #FFF;
    font-size: 0.7em;
    padding: 0.27rem 0.55rem 0.2rem 0.4rem;
    position: absolute;
    left: 0.37rem;
    top: 0.7rem;
    z-index: 99;
    border: 0.2rem solid #2F92CA;
}

.progress-bar .active {
    animation: w70 1s ease forwards, progress-bar-stripes 2s linear infinite;
}

.row .card + .card {
    margin-top: 2rem;
}

.wrapping-flex {
    display: -webkit-flex;
    display: flex;
    background-color: #CCC;
    height: 12rem;
    width: 50%;
    margin-left: 20%;
}

.wrapping-flex > div {
    background-color: #ECA45A;
    margin: 1rem;
    padding: 1.5rem;
}

.wrapping-flex .item2 {
    align-self: center;
    height: 5rem;
}

/*row 1*/
header {
    background-color: #F8F8F8;
}

header ul {
    margin: 0;
}

header a,
header li {
    padding: 1.4rem 0;
    color: #777;
    font-weight: bold;
}

/*row 2*/
section#intro-header {
    background-image: url(../images/landscape.jpg);
    background-size: cover;
}

section#intro-header .wrap-headline {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

section#intro-header h1,
section#intro-header h2 {
    color: #FFF;
}

section#intro-header h2 {
    font-size: 1.5rem;
}

section#intro-header hr {
    width: 10%;
}

section#intro-header .btn-default {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

/*row3 and row4*/
section#about img {
    margin-top: 6.5rem;
    margin-bottom: 5rem;
}

section#about h3 {
    margin-top: 10rem;
}

/*row 5 and row 6*/
section#features {
    background-color: #eef2f5;
    border-top: 0.1rem solid #e9e9e9;
    border-bottom: 0.1rem solid #e9e9e9;
}

section#features * {
    color: #657C8E;
}

section#features .feature {
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
}

section#features .glyphicon {
    font-size: 2rem;
}

section#features .glyphicon-heart {
    color: #E04C4C;
}

section#features .feature-tag {
    max-width: 10.7em;
    display: inline-block;
    text-align: left;
    margin-left: 1.5em;
    font-size: 1.7rem;
}

/*row 7 and row 8*/
section#pricing .center-block {
    width: 90%
}

section#pricing h3.price-headline {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

section#pricing .white-text {
    color: #FFF;
}

section#pricing thead .success {
    background-color: #78CFBF;
}

section#pricing thead .info {
    background-color: #3EC6E0;
}

section#pricing thead .danger {
    background-color: #E3536C;
}

section#pricing tbody .success {
    background-color: #82DACA;
}

section#pricing tbody .info {
    background-color: #53CFE9;
}

section#pricing tbody .danger {
    background-color: #EB6379;
}

/* section 9 - newsletter */
section#newsletter {
    border-top: 1px solid #E0E0E0;
    padding-top: 3.2em;
    margin-top: 2em;
}

section#newsletter h4 {
    padding: 1em;
}

section#newsletter form {
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 5.5em;
}

/* footer */
footer {
    background-color: #191919;
    color: #ADADAD;
    margin-top: 3em;
}

footer h5,
footer img {
    margin-top: 5em;
    font-weight: bold;
}

footer address {
    margin-top: 5em;
    margin-bottom: 5em;
    color: #5A5A5A;
}

footer ul {
    margin-bottom: 5em;
}

footer address strong {
    color: #ADADAD;
    display: block;
    padding-bottom: 0.62em;
}

footer a {
    font-weight: 300;
    color: #5A5A5A;
}

footer a:hover {
    text-decoration: none;
    color: #FFF;
}

/*contact page*/
section#contact form {
    padding-top: 9rem;
    padding-bottom: 3rem;
}

.hidden-element {
    display: none;
}

/* section team */
section#team ul {
    margin: 5rem 0;
}

section#team li {
    margin: 0 5rem;
}

section#team h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 48em) {
    nav .btn-group {
        position: absolute;
        top: 0;
        right: 4em;
    }
}

@media (max-width: 34em) {
    .navbar-default .navbar-nav > .active > a {
        border-bottom: none;
        border-left: 0.45em solid #FFF;
        padding-left: 0.5em;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes w70 {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

#tweet {
    margin: 0.5em;
}